/* colores que voy a usar */
:root{
    --color-principal: #1E3A8A;
    --color-secundario: #3B82F6;
    --fondo: #0F172A;
    --texto: #E5E7EB;
    --caja: #1e293b;
}
/* cuerpo */
body{
    font-size: 35px;
    font-style: arial;
    text-align: center;
}


/* menu Barra de navegacon */
nav{
    background-color: var(--color-principal);
    padding: 10px;
    text-align: center;
}

nav a{
    color: var(--texto);
    margin: 10px;
    text-decoration: none;
}

nav a:hover{
    color: var(--color-secundario);
}